/***************************************
	
		SASS Mixins/Variables 
			
***************************************/

@mixin linear_gradiant($params...)
{
	  background: -webkit-linear-gradient($params);
	  background: -moz-linear-gradient($params);
	  background: -o-linear-gradient($params);
	  background: linear-gradient($params);
}


/***************************************
	
				Default 
			
***************************************/

html, body 
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Dancing Script', cursive;
}

/***************************************
	
				Content 
			
***************************************/

.banner-wrapper
{
	position: absolute;
	z-index: 3;
	color: #fff;
	width: 800px;
	margin-left: 300px;
	margin-top: -50px;
}
.title-banner
{
	font-style: italic;
	font-weight: 700;
	font-size: 80px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


/***************************************
	
				ReactJS 
			
***************************************/

#content
{
	position: absolute;
	z-index: 2;
	width: 100%;
}


.container 
{
	width: 100%;
	height: 100%;
	
	.parameter-changes 
	{
		position: absolute;
		z-index: 4;
		height: 5vh;
		width: 100%;
		right: 0;
		top: 95vh;
		background-color: rgba(255, 255, 255, 0.5);
		font-family: serif;
		border-radius: 2px;
		input
		{
			margin: 10px;
		}
	}
}



.left
{
	position: absolute;
	left: 0px;
	width: 50%;
	.polaroid
	{
		position: relative;
		width: 35vw;
		height: 73vh;
		background-color: white;
		padding-top: 12px;
		box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.9), inset 0 0px 2px rgba(0, 0, 0, 0.96);
		border-radius: 2px;
		transform: rotate(-2deg);
		margin-left: 50px;
		margin-top: 130px;
	}
	img
	{
		width: 32vw;
		height: 60vh;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 10px 50px rgba(0, 0, 0, 0.7);
		border-radius: 2px;
		background: rgba(40, 38, 42, 0.5);
		margin: 1.5vh 1.5vw 0 1.5vw;
	}
}

.right 
{
	position: absolute;
	right: 0px;
	width: 50%;
	
	.caption
	{
		width: 40vw;
		min-height: 35vh;
		color: #000;
		background-color: rgba(255, 255, 255, 0.5);
		margin-top: 250px;
		margin-left: 5%;
		padding: 28px;
		font-size: 30px;
		line-height: 1.6em;
		border-radius: 2px;
		font-weight: 400;
		box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5), inset 0 0px 2px rgba(0, 0, 0, 0.96);

	}
	
	.username
	{
		float: right;
	}
	
	
}



/***************************************
	
			Fade in Effect
			
***************************************/

.newImage.switch-enter 
{
    opacity: 0.01;
}
.newImage.switch-enter.switch-enter-active 
{
    opacity: 1.0;
}
.newImage.switch-leave 
{
    /* Completely hide the button while it's being animated and before it's removed from the DOM. */
    visibility: hidden;
    height: 0px;
    width: 0px;
    
    /* Starting opacity */
    opacity: 1.0;
}
.newImage.switch-leave.switch-leave-active 
{
    /* Ending opacity: 
    Trigger opacity change so the "transitionend" event will fire, causing React to remove from the DOM. */
    opacity: 0;
}

/***************************************
	
			Starry Night
				Canvas
			
***************************************/

#starrynight 
{
	position: absolute;
	z-index: 1;
	@include linear_gradiant(#00111e 30%, #033d5e);
	overflow: hidden;
}


